In [2]:
# python
import sqlite3

In [3]:
# create some data
stocks = [
        ('NVDA',219,-3.42),
        ('AAPL',146,-2.73),
        ('GOOG',2829.27,-58.20)]

In [5]:
# connect to db
# update with your path to the database
path_to_db = "/Users/theresa/SQLite/stocks.db"

In [6]:
# create db connection
conn = sqlite3.connect(path_to_db)

In [7]:
# create cursor
cur = conn.cursor()

In [8]:
# create a table in the db called "holdings" and pass a schema
# end the transaction with a commit
cur.execute('create table holdings (ticker text, price real, chg real)')
conn.commit()

In [9]:
# insert multiple records of data with executemany()
cur.executemany('insert into holdings values (?,?,?)', stocks)
conn.commit()

In [10]:
# query the table
# print all the rows
for row in conn.execute('select * from holdings'):
    print(row)

('NVDA', 219.0, -3.42)
('AAPL', 146.0, -2.73)
('GOOG', 2829.27, -58.2)

In [11]:
# print all the rows where price > 200
for row in conn.execute('select * from holdings where price > 200'):
    print(row)

('NVDA', 219.0, -3.42)
('GOOG', 2829.27, -58.2)

In [12]:
for row in conn.execute('select ticker, price from holdings where price > 200'):
    print(row)

('NVDA', 219.0)
('GOOG', 2829.27)

In [16]:
data = []
for row in conn.execute('select ticker, price from holdings where price > 200'):
    data.append(row)

In [17]:
data

[('NVDA', 219.0), ('GOOG', 2829.27)]

In [19]:
# TRY FOR YOURSELF 
# Create a dataframe with columns: ticker, price.
# Load all of the data into the dataframe
import pandas as pd
df = pd.DataFrame(columns=['ticker','price'], data=data)
df

  ticker    price
0   NVDA   219.00
1   GOOG  2829.27